.shop-now {
  width: 1920px;
  height: 941px;
  background-color: #72838a;
  h1 {
    padding-left: 550px;
    padding-top: 100px;
    font-size: 100px;
    color: white;
    font-family: sans-serif;
  }
  &__reco {
    position: relative;
    p {
      position: relative;
      bottom: 400px;
      left: 150px;
      font-size: 100px;
      color: white;
      font-family: sans-serif;
    }
  }
}

.man {
  position: relative;
  width: 900px;
  height: 623px;
  background-image: url(../images/pexels-philip-boakye-2614384.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 700px;
  bottom: 757px;
  p {
    position: relative;
    left: 150px;
    top: 230px;
    font-size: 100px;
    color: white;
    font-family: sans-serif;
  }
}
